.dock {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: LightSlateGray;
  display: flex;
  justify-content: center;
}

.dock ul {
  display: flex;
  list-style-type: none;
}

.dock ul > li {
  margin-inline: 10px;
  transition: all .3s;
}

.dock ul > li:hover {
  color: green;
  margin-inline: 20px;
  transform: scale(2) translateY(-10px);
}

.dock ul > li:has(+ li:hover),
.dock ul > li:hover + li {
  color: greenyellow;
  margin-inline: 17px;
  transform: scale(1.7) translateY(-7px);
}

.dock ul > li:has(+ li + li:hover),
.dock ul > li:hover + li + li {
  color: yellow;
  margin-inline: 13px;
  transform: scale(1.3) translateY(-3px);
}
